

body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

h1 {
  font-size: 1.5rem;
}

.chip {
  background-color: rgb(205, 205, 205);
  padding: 8px;
  margin: 4px;
  display: flex;
  
  min-width: 88px;
  justify-content: space-between;
  

}